html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.popup-body {
    padding: 15px;
    width: 130px;
    background: transparent;
}

.popup-body:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 10px;
}

.btn {
    float: left;
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 60px;
    line-height: 100px;
    background: #fafafa;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.08), 2px 2px 3px 4px rgba(0,0,0,.05);
    border: none;
    display: inline-block;
    cursor: pointer;
}

.better-dark-mode-active {
    box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,.08), inset 2px 2px 3px 4px rgba(0,0,0,.05);
}

.btn:focus {
    outline: none;
}
